{% extends 'layout.html' %}

{% block title %}Welcome!{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <style>
        body {
         text-align: center;
        }
        </style>
        <a href="{% url 'logout' %}">Logout</a>
        <h1 class = 'ttl'>{{ user }}</h1>
        <button class="but" onclick="window.location.href = 'received';">Received</button>
        <button class="but btn-warning" onclick="window.location.href = 'sent';">Sent</button>
        <button class="but btn-warning" onclick="window.location.href = 'send';">Send</button>
    {% else %}
        <head>
        <meta http-equiv="refresh" content="0;{% url 'prev' %}" />
        </head>
    {% endif %}
{% endblock %}